.hidden {
    display: none;
}

@media screen and (max-width: 600px) {}

@font-face {
    font-family:'arial';
    src: url();
}

body {
    font-family: 'arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

header {
    background-color: none;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 10px 0;
    color: #333;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

#game-settings {
    display: flex;
    justify-content: center;
    width: 100%;
}

#cards-container {
    display: grid;
    grid-column-start: 4;
    grid-row-start: 4;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    margin: 2 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}